
<div style="width: 500px;height: auto;text-align: justify;">
    <h2>Резюме:</h2>
    <img src="assets\me.jpg" alt="Моє зображення" style="width: 100px;height: auto; float: right;">
    <p>ПІБ: {{ FullName }}</p>
    <p>Телефон: {{ Phone }}</p>
    <p>E-mail: {{ E_Mail }}</p>
    <p>Місто проживання: {{ City }}</p>
    <p>Досвід роботи: <app-experience-comp></app-experience-comp></p>
    <p>Навички: <app-skills-comp></app-skills-comp></p>
    <p>Додатково: GitHub(https://github.com/Trotsenkova-Anastasia)
  </div>